@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/**
* Universal
. Clases
# Id
nombre_etiqueta
*/

.flexbox1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 4%;
    
    
}
.body {
    background: #fff;
    color: #1c1e21;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}
.logo {
    display: flex;
}

.cajaUsuario2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid #c5c5c5;
    background-color:#ffffff ;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    padding: 15px 15px 18px;
}

#contenedorInput {
front-size: 12px
}

.correo {
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 327px;
}
